{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row mt-lg-5">
    <div class="col-lg-8">
      <h1 class="display-6">Currently I Am</h1>
      <p class="lead mb-3">
        Enrolled in my Junior year at Loyola University of Chicago. <br />
        Expected to graduate in May of 2023 with a Bachelor's of Science in
        Software Engineering.
      </p>
      <h1 class="display-6">My Background</h1>
      <p class="lead">
        As an aspiring professional in the Software Engineering field my
        interests are focused on how technology can be used to inspire and
        connect people. Having lived across three different continents and
        languages I have been able to see throughout my life how the internet is
        shaping our modern communities. I am especially interested in how
        software engineering and data science can be applied to help solve
        problems and make a different in the real world.
      </p>
    </div>
    <div class="col-lg-4 d-flex justify-content-center flex-wrap">
      <img
        src="static/profile.jpg"
        alt=""
        class="rounded"
        style="width: 350px; height: 350px"
      />
    </div>
  </div>
</div>

{% endblock content %}
